@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anton";
  src: url("/fonts/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ArefB";
  src: url("/fonts/ArefRuqaaInk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/AeonikTRIAL-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Custom animation helpers */
.lines {
  overflow-y: hidden;
  will-change: transform, opacity;
}

.char {
  overflow-y: hidden;
  will-change: transform, opacity;
}

.word {
  overflow-y: hidden;
  will-change: transform, opacity;
}

.text-stroke {
  -webkit-text-stroke-width: 20px;
  -webkit-text-stroke-color: black;
}
